{% extends 'base.html.twig' %}

{% block title %}Talk{% endblock %}

{% block body %}
    <h1>Talk</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ talk.id }}</td>
            </tr>
            <tr>
                <th>Text_message</th>
                <td>{{ talk.textMessage }}</td>
            </tr>
            <tr>
                <th>Send_date</th>
                <td>{{ talk.sendDate ? talk.sendDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('talk_index') }}">back to list</a>

    <a href="{{ path('talk_edit', {'id': talk.id}) }}">edit</a>

    {{ include('talk/_delete_form.html.twig') }}
{% endblock %}
